name: Auto Video Pipeline

on:
  schedule:
    - cron: '0 23 * * *'   # 06:00 WIB
    - cron: '0 9 * * *'    # 16:00 WIB
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Jalankan Test Script Python
        run: python scripts/test.py

      - name: Jalankan Fetch News Script
        run: python scripts/fetch_news.py
